$palette-black: #2d2b29;
$palette-background: #e9eaf1;
$palette-accent: #fb3732;

body {
    align-items: center;
    justify-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: $palette-background;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
