node_modules

.github/workflows/ci.yml
.env

/client/.angular/cache/
/client/.vscode

/client/dist
/client/tmp
/client/out-tsc
/client/bazel-out
client/.angular/
logs/error.log
client/.angular/cache/18.2.2/vite/deps/
