.event {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f5deb3;
    border: 3px solid #000;
    border-radius: 15px;
    padding: 7px;
    margin-top: 15px;
}
