<header>
    <nav>
        <ul id="main-nav">
            <li><a routerLink="/home" routerLinkActive="active">Domov</a></li>
            <li><a routerLink="/about" routerLinkActive="active">O nás</a></li>
            <li>
                <a routerLink="/events" routerLinkActive="active">Udalosti</a>
            </li>
            <li>
                <a routerLink="/support" routerLinkActive="active"
                    >Podporte nás</a
                >
            </li>
        </ul>
    </nav>
    <h1>{{ title }}</h1>
    <img src="./domovenka.png" alt="4. zbor domovenka" height="100px" />
</header>

<main>
    <router-outlet></router-outlet>
</main>

<footer>
    <p>
        <a href="https://github.com/RcodePlay" target="_blank">
            If you like the website and want to see more or support the
            developer, click this.
        </a>
    </p>
    <hr />
    <p>copyrighty, shoutouty a dalsi hmyz</p>
</footer>
