<header>
    <nav>
        <ul id="main-nav">
            <li><a routerLink="/home" routerLinkActive="active">Domov</a></li>
            <li><a routerLink="/about" routerLinkActive="active">O nás</a></li>
            <li>
                <a routerLink="/events" routerLinkActive="active">Udalosti</a>
            </li>
            <li>
                <a routerLink="/support" routerLinkActive="active"
                    >Podpor nás</a
                >
            </li>
        </ul>
    </nav>
    <img src="./domovenka.png" alt="4. zbor domovenka" height="100px" />
</header>

<main>
    <router-outlet></router-outlet>
</main>

<footer>
    <p>Ja som foter</p>
    <p>obsahujem (ne)importantne info</p>
    <hr />
    <p>copyrighty, shoutouty a dalsi hmyz</p>
</footer>
