$palette-black: #111;
$palette-background: #e9eaf1;
$palette-accent: #fb3732;

header {
    width: 100%;
    position: relative;
    background-color: $palette-background;
    top: 0;
    left: 0;
    padding-bottom: 5px;
    border-bottom: 3px solid $palette-black;
}

nav {
    background-color: $palette-black;
}

header h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-nav {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

#main-nav li {
    margin: 0 20px;
}

#main-nav a {
    text-decoration: none;
    color: #9e9e9e;
    padding: 10px 0;
    display: inline-block;
    font-size: 18px;
    position: relative;
}

#main-nav a:hover {
    color: #fff;
}

#main-nav a.active {
    color: #fff;
}

#main-nav a.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: #fff;
}

#main-nav a:hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: #fff;
}

footer {
    margin: 0;
    padding: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $palette-black;
    color: #999;
    min-width: 100lvw;
}

footer hr {
    width: 100lvw;
}

footer a {
    text-decoration: none;
    color: #999;
}

// Responsive design

@media (max-width: 600px) {
    // #main-nav {
    //     flex-direction: column;
    // }

    #main-nav li {
        margin: 0 10px 0 0;
    }
}
