<div class="page-custom">
    <h2>O nás</h2>
    <div *ngFor="let division of divisions; let i = index" class="info-div">
        <button (click)="toggleDivision(i)">
            {{ division.name }}
        </button>
        <div *ngIf="activeDivision === i" class="info-div">
            <h2>{{ division.name }}</h2>
            <h3>Vedúci: {{ division.leader }}</h3>
            <h3>Zástupca vedúceho: {{ division.coleader }}</h3>
            <h3>Dátum založenia: {{ division.dateCreated }}</h3>
            <p class="description">{{ division.description }}</p>
        </div>
    </div>
</div>
