<div class="about-component">
    <router-outlet></router-outlet>
</div>

<nav>
    <h2>Oddiely:</h2>
    <ul>
        <li>
            <a routerLink="zbor" routerLinkActive="active">Zbor</a>
        </li>
        <li>
            <a routerLink="oddiel1" routerLinkActive="active">Division 1</a>
        </li>
        <li>
            <a routerLink="oddiel2" routerLnikActive="active">Division 2</a>
        </li>
        <li>
            <a routerLink="oddiel3" routerLinkActice="active">Division 3</a>
        </li>
    </ul>
</nav>
